<?xml version="1.0" encoding="UTF-8"?>
<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">


	<bean id="dataSource"
		class="org.apache.commons.dbcp.BasicDataSource">
		<property name="driverClassName"
			value="com.mysql.jdbc.Driver">
		</property>
		<property name="url"
			value="jdbc:mysql://localhost:3306/monitoredcontrol?useUnicode=true&amp;characterEncoding=UTF-8">
		</property>
		<property name="username" value="root"></property>
		<property name="password" value="111"></property>
	</bean>
	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">
		<property name="dataSource">
			<ref bean="dataSource" />
		</property>
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">
					org.hibernate.dialect.MySQLDialect
				</prop>
			</props>
		</property>
		<property name="mappingResources">
			<list>
				<value>org/easybooks/bookstore/vo/User.hbm.xml</value>
				<value>
					org/easybooks/bookstore/vo/Alarmregular.hbm.xml
				</value>
				<value>
					org/easybooks/bookstore/vo/Enterprise.hbm.xml
				</value>
				<value>org/easybooks/bookstore/vo/Manage.hbm.xml</value>
				<value>
					org/easybooks/bookstore/vo/Environment.hbm.xml
				</value>
				<value>org/easybooks/bookstore/vo/Scy.hbm.xml</value>
				<value>
					org/easybooks/bookstore/vo/Alarmlogging.hbm.xml
				</value>
				<value>
					org/easybooks/bookstore/vo/Datamanage.hbm.xml
				</value>
				<value>org/easybooks/bookstore/vo/Inlet.hbm.xml</value>
				<value>
					org/easybooks/bookstore/vo/Outfall.hbm.xml
				</value>
				<value>org/easybooks/bookstore/vo/Mail.hbm.xml</value>
				<value>org/easybooks/bookstore/vo/Sign.hbm.xml</value>
				<value>
					org/easybooks/bookstore/vo/Contacts.hbm.xml
				</value></list>
		</property></bean>
		
		<bean id="baseDAO" class="org.easybooks.bookstore.dao.BaseDAO">
		     <property name="sessionFactory" ref="sessionFactory" />
		</bean>
		<bean id="userDAO" class="org.easybooks.bookstore.dao.impl.UserDAO" parent="baseDAO" />
		<bean id="login" class="org.easybooks.bookstore.action.LoginAction" />
	     
		<bean id="alarmRegularDAO" class="org.easybooks.bookstore.dao.impl.AlarmRegularDAO" parent="baseDAO" />
		<bean id="alarmRegularService" class="org.easybooks.bookstore.service.impl.AlarmRegularService">
		      <property name="alarmRegularDAO" ref="alarmRegularDAO" />
		</bean>
		<bean id="alarmRegularAction" class="org.easybooks.bookstore.action.AlarmRegularAction">
		      <property name="alarmRegularService" ref="alarmRegularService"></property>
		</bean>
		
		<!-- 邮件 -->
		<bean id="contactsDAO" class="org.easybooks.bookstore.dao.impl.ContactsDAO" parent="baseDAO" />
		<bean id="contactsService" class="org.easybooks.bookstore.service.impl.ContactsService">
		      <property name="contactsDAO" ref="contactsDAO" />
		</bean>
		<bean id="contactsAction" class="org.easybooks.bookstore.action.ContactsAction">
			<property name="contactsService" ref="contactsService"></property>
		</bean>
		
		
		<bean id="mailDAO" class="org.easybooks.bookstore.dao.impl.MailDAO" parent="baseDAO" />
		<bean id="signDAO" class="org.easybooks.bookstore.dao.impl.SignDAO" parent="baseDAO" />
		<bean id="mailService" class="org.easybooks.bookstore.service.impl.MailService">
		      <property name="mailDAO" ref="mailDAO" />
		      <property name="signDAO" ref="signDAO" />
		</bean>
		<bean id="mailAction" class="org.easybooks.bookstore.action.MailAction">
			<property name="mailService" ref="mailService"></property>
			<property name="contactsService" ref="contactsService"></property>
		</bean>
		<!-- 邮件end -->
		
		<bean id="environmentDAO" class="org.easybooks.bookstore.dao.impl.EnvironmentDAO" parent="baseDAO" />
		<bean id="environmentService" class="org.easybooks.bookstore.service.impl.EnvironmentService">
		      <property name="environmentDAO" ref="environmentDAO" />
		</bean>
		<bean id="environmentAction" class="org.easybooks.bookstore.action.EnvironmentAction">
		      <property name="environmentService" ref="environmentService"></property>
		</bean>
		 <!-- get Environments by Ent_no-->		
		 <bean id="envByNoDAO" class="org.easybooks.bookstore.dao.impl.EnvByNoDAO" parent="baseDAO" />
		 <bean id="envByNoService" class="org.easybooks.bookstore.service.impl.EnvByNoService">
		       <property name="envByNoDAO" ref="envByNoDAO" />
		 </bean> 
		 <bean id="envByNoAction" class="org.easybooks.bookstore.action.EnvByNoAction">
		       <property name="envByNoService" ref="envByNoService" />
		 </bean>
		
		
		<bean id="inletDAO" class="org.easybooks.bookstore.dao.impl.InletDAO" parent="baseDAO" />
		<bean id="inletService" class="org.easybooks.bookstore.service.impl.InletService">
		      <property name="inletDAO" ref="inletDAO" />
		</bean>
		<bean id="inletAction" class="org.easybooks.bookstore.action.InletAction">
		      <property name="inletService" ref="inletService"></property>
		</bean>
		
		
		<bean id="SCY_viewDAO" class="org.easybooks.bookstore.dao.impl.SCY_viewDAO" parent="baseDAO" />
		<bean id="SCY_viewService" class="org.easybooks.bookstore.service.impl.SCY_viewService">
		      <property name="scy_viewDAO" ref="SCY_viewDAO" />
		</bean>
		<bean id="SCY_viewAction" class="org.easybooks.bookstore.action.SCY_viewAction">
		      <property name="scy_viewService" ref="SCY_viewService"></property>
		</bean>
		
		<bean id="Outfall_viewDAO" class="org.easybooks.bookstore.dao.impl.Outfall_viewDAO" parent="baseDAO" />
		<bean id="Outfall_viewService" class="org.easybooks.bookstore.service.impl.Outfall_viewService">
		      <property name="outfall_viewDAO" ref="Outfall_viewDAO" />
		</bean>
		<bean id="Outfall_viewAction" class="org.easybooks.bookstore.action.Outfall_viewAction">
		      <property name="outfall_viewService" ref="Outfall_viewService"></property>
		</bean>
		
		
		
		<bean id="enterpriseDAO" class="org.easybooks.bookstore.dao.impl.EnterpriseDAO" parent="baseDAO" />
		<bean id="enterpriseService" class="org.easybooks.bookstore.service.impl.EnterpriseService">
		      <property name="enterpriseDAO" ref="enterpriseDAO" />
		</bean>
		<bean id="enterpriseAction" class="org.easybooks.bookstore.action.EnterpriseAction">
		      <property name="enterpriseService" ref="enterpriseService"></property>
		</bean>
		<!-- Ent_view -->
		<bean id="ent_viewDAO" class="org.easybooks.bookstore.dao.impl.Ent_viewDAO" parent="baseDAO" />
		<bean id="ent_viewService" class="org.easybooks.bookstore.service.impl.Ent_viewService">
		      <property name="ent_viewDAO" ref="ent_viewDAO" />
		</bean>
		<bean id="ent_viewAction" class="org.easybooks.bookstore.action.Ent_viewAction">
		      <property name="ent_viewService" ref="ent_viewService"  /> 
		</bean>
		
		
		<bean id="alarmloggingDAO" class="org.easybooks.bookstore.dao.impl.AlarmloggingDAO" parent="baseDAO" />
		<bean id="alarmloggingService" class="org.easybooks.bookstore.service.impl.AlarmloggingService">
		      <property name="alarmloggingDAO" ref="alarmloggingDAO" />
		</bean>
		<bean id="alarmloggingAction" class="org.easybooks.bookstore.action.AlarmloggingAction">
		      <property name="alarmloggingService" ref="alarmloggingService"></property>
		</bean>
		
		<!-- 排水口form表单 -->
		<bean id="Outfall_formAction" class="org.easybooks.bookstore.action.form.Outfall_formAction">
		</bean>
		
		
		<!-- 邮件 -->
		<bean id="ContactsDAO"
			class="org.easybooks.bookstore.vo.ContactsDAO">
			<property name="sessionFactory">
				<ref bean="sessionFactory" />
			</property>
		</bean>
		<bean id="UserDAO" class="org.easybooks.bookstore.vo.UserDAO">
			<property name="sessionFactory">
				<ref bean="sessionFactory" />
			</property>
		</bean>
		<bean id="MailDAO" class="org.easybooks.bookstore.vo.MailDAO">
			<property name="sessionFactory">
				<ref bean="sessionFactory" />
			</property>
		</bean>	
		
		<bean id="SignDAO" class="org.easybooks.bookstore.vo.SignDAO">
			<property name="sessionFactory">
				<ref bean="sessionFactory" />
			</property>
		</bean>
		<!-- 邮件end -->
		
		
		</beans>
		